// menu css
.header {
  display: flex;
  background-color: $secondary-color;
  justify-content: space-around;
  align-content: center;
  //   justify-self: center;
  //   align-content: ;
  //   text-align: center;
  //   align-self: center;
  ul {
    display: flex;
    // flex-grow: 2 ;
    align-content: center;
    align-content: space-around;
    //   justify-content: center;
    //   text-align: center;
    @media (max-width: $long-phone) {
      & {
        display: none;
      }
    }

    @media (max-width: 368px) {
      & {
        display: none;
      }
    }
    .menu-link {
      display: flex;
      margin-right: 2.5rem;

      // border-bottom: 2px solid $converse-color;
      a {
        text-transform: uppercase;
        font-weight: normal;
        // border-bottom: 0.3rem solid $converse-color;

        font-size: 2rem;
        text-align: center;
        margin: auto;
        color: $primary-color;
        // display: flex;
        // transition: $medium-transition-duration;
      }

      a:hover {
        // color: $con;
        // color: $converse-color;
        font-weight: bold;
        color: $converse-color;
        animation: hovering $basic-transition-duration linear;
      }
      // box-area:hover{
      //   color:$secondary-color;
      // }
      //   text-align: center;
    }
  }
  a,
  #cz,
  #en {
    // display:;
    position: absolute;
    left: 2rem;
    
    // overflow-x: ;

    // margin-top: 2rem;
    // flex-grow: 1;
    // background-color: blue;
    // margin-top: -3rem;
    // align-items: center;
    // padding: 0.4rem;
    // margin-top: 3rem;
    // background-color: blue;
    color: $heading-color;
    // margin: auto;
    // background-color: blue;

    &:visited {
      color: $heading-color;
    }
    &:link {
      color: $heading-color;
    }
    // &:hover {
    //   color: $converse-color;
    // }
  }
}
#cz,
#en {
  // margin: auto;
  font-weight: 700;
  z-index: 1;
  position: absolute;

  // margin-right: 1rem;
  // align-items: center;
  // margin-left: 2rem;
  // justify-content: center;
  // margin: 0;
  top: 6rem;
  right: 3rem;
  background-color: $heading-color;
  // border: 1px solid red;
  padding: 1.1rem 1.5rem 0.9rem 1.5rem;
  text-align: center;
  border-radius: 3rem;
  // top: 40px;
// padding: 0;
    // background-color: blue;
  //   border: 0.2rem solid $converse-color;
  // border-radius: 2rem;
//   &:hover {
//     transition-duration: $basic-transition-duration;
//     padding-left: 1rem;
//     font-weight: bold;
//     // margin: none;
//     // margin-right: -5rem;
//     border-color: $heading-color;
//     text-align: center;
//     border-radius: 2rem;
//     // animation: fadein $basic-transition-duration forwards;
//   }
}
.basic-ul {
  // background-color: black;
  // list-style: ;
  .list-item {
    margin-top: $basic-text-margin;
  }
}
ol {
  list-style: none;
  counter-reset: li;
  line-height: 1.3;
  li::before {
    content: counter(li);
    color: $converse-color;

    display: inline-block;
    width: 1.2rem;
    font-weight: 600;
    // padding-right: ;
    margin-left: -1em;
  }
  li {
    counter-increment: li;
  }
}

.footer {
  // margin-top: $margin-sections;
  padding: $basic-text-margin 0 $basic-text-margin $basic-text-margin;
  margin-top: $basic-text-margin*2;
  background-color: $footer-background-color;
  min-height: 15vh;
  color: $primary-color;
  // text-align: center;
  
  .sideway {
    text-align: end;
    
    padding-right: $basic-text-margin;
  }
  .end-content {
    display: flex;
    justify-content: end;
    align-items: flex-end;
    // text-align: end;
    color: $footer-text-color;
    margin: 8rem $basic-text-margin -2rem 0;
    font-size: 1rem;
    a {
      color: $footer-text-color;
      :hover {
        color: $primary-color;
      }
    }
  }
}

.center{

  // display: box;
  // display: flex;
  // justify-content: ce÷nter;
  text-align: center;
  // margin: auto;
  // flex-wrap: wrap;=
  h2{
    font-size: 3.8rem;
    color: $secondary-color;
  }
  .contacts{
    color: $footer-text-color;
    display: flex;
    justify-content: center;
    align-items: center;
    .contact{
      flex-grow: 100;
      margin-top: $basic-text-margin;
      display: block;
      .address{
        flex-grow: 1;
        display: block;
        margin: auto;
        font-weight: bold;
      }
    }
    // :not(:nth-last-of-type()){
    //   margin-right: 20rem;
    //   // background-color: aqua;
    // }

  }
  
}