.box-link{
  &:hover{
    color: $box-hover-color;
  }
}
.four-box {

  display: flex;
  justify-content:space-between;
  align-self: center;
  background-color: $secondary-color;
  flex-wrap: wrap;
  //   max-height: 70vh;
  padding: 3rem 0rem;
  @media (max-width: $medium-phone) {
    & {
      padding: 3rem 0;
    }
  }
  &-dojebany {
    margin: 0rem 10rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @media (max-width:$medium-phone) {
      &{
        margin: 0rem 3rem;
      }
    }
    
    @media (max-width:$smallest-phone) {
      &{
        margin: 0rem 1rem;
      }
    }
  }
}
.box-area {
  // display: flexbox;
  // justify-content: center;
  // align-items: center;
  text-align: center;

  // background-color: red;
  .image {
    font-size: $medium-image-size;
    @media (max-width:$longest-phone) {
      &{
        font-size: $smallest-image-size;
      }
      
    }
  }
  .below-text {
    font-size: larger;
    margin-top: 1rem;
    margin-bottom: 1rem;
    @media (max-width: $longest-phone) {
      & {
        color: $secondary-color;
      }
    }
  }
}
.box {
  padding: $padding-square;
  background-color: $primary-color;
  border-radius: 2rem;
  margin-top: 2rem;
  // margin-right: 2rem;
  display: flex;
  min-height: 10vh;
  justify-content: center;
  align-items: center;

  // @media (max-width: $long-phone) {
  //   & {
  //     max-height: 20vh;
  //     font-size: 1.2rem;
  //     min-height: 20vh;
  //     margin-right: 0.5rem;
  //     margin-top: 0.5rem;
  //     font-size: 1rem;
  //     min-width: 30vw;
  //     padding: 1rem;
  //   }
  // }
  min-height: 38vh;
  min-width: 33vw;

  & h2 {
    width: max-content;

    justify-content: center;
    text-transform: uppercase;
  }
}
.shadow{
  box-shadow: $basic-shadow;
}
.square {
  min-width: 20vw;
  min-height: 20vw;
  text-align: center;
  @media (max-width:$medium-phone) {
    &{
          
      width: 20vw;
      height: 20vw;
    }
  }
}
