.main-logo {
  background-color: $secondary-color;
  display: flex;
  &-large {
    display: flex;
    justify-content: center;
    // min-width: 80vw;
    min-width: 30vh;
    max-height: 40vh;
    // margin: auto;
  }
}
.logo {
  margin: $logo-margin;

  // color: $primary-color;
  // background-color: $primary-color;
  &-large {
    // margin: $logo-margin;
    width: 60vw;
    padding-top: 4vw;
    z-index: 0;
  }
  @media (max-width: $long-phone) {
    & {
      margin-top: $logo-margin + 2rem;
      width: 40vw;
    }
  }
  @media (max-width: $small-phone) {
    & {
      width: 60vw;
    }
  }
  @media (max-width: $medium-phone) {
    & {
      margin-top: $logo-margin;
      margin-bottom: $logo-margin - 2rem;
    }
  }
  width: 30vw;
  img {
    fill: black;
  }
}
.icon{

  &::after{
    background-color: aqua;
    display: block;
    // margin: 20rem;
    // margin: auto;
content:"";
    // content:"ahooj";
  }
}
