*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
:root {
  // font-family: "Titilium Web", sans-serif;
  //   font-family: $text-font-other;
  font-size: 62.5%;
  margin: 0;
  scroll-behavior: smooth;
}
html,
body {
  overflow-x: hidden;
  // background-color: $footer-background-color;
}
body {
  // overflow-x: hidden;
  position: relative;
  margin: 0;
  padding: 0;
  font-family: $text-font-basic;
  font-size: 2rem;
  background-color: $body-color;
  // color:$secondary-color;
  a {
    text-decoration: none;
    &:visited {
      color: $secondary-color;
    }
    &:link {
      color: $secondary-color;
    }
    &:hover {
      color: $converse-color;
      transition-duration: $basic-transition-duration;
    } // color: $white;

  }
  
}
