*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

:root {
  font-size: 62.5%;
  margin: 0;
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: "proxima-nova", "Proxima Nova", sans-serif;
  font-size: 2rem;
  background-color: #2e3133;
}
body a {
  text-decoration: none;
}
body a:visited {
  color: #ffffff;
}
body a:link {
  color: #ffffff;
}
body a:hover {
  color: #e6412e;
  transition-duration: 0.3s;
}

.main-logo {
  background-color: #ffffff;
  display: flex;
}
.main-logo-large {
  display: flex;
  justify-content: center;
  min-width: 30vh;
  max-height: 40vh;
}

.logo {
  margin: 3rem;
  width: 30vw;
}
.logo-large {
  width: 60vw;
  padding-top: 4vw;
  z-index: 0;
}
@media (max-width: 968px) {
  .logo {
    margin-top: 5rem;
    width: 40vw;
  }
}
@media (max-width: 658px) {
  .logo {
    width: 60vw;
  }
}
@media (max-width: 712px) {
  .logo {
    margin-top: 3rem;
    margin-bottom: 1rem;
  }
}
.logo img {
  fill: black;
}

.icon::after {
  background-color: aqua;
  display: block;
  content: "";
}

.footer-icon {
  color: #ffffff;
  font-size: large;
  font-size: 3.9rem;
  margin-bottom: 0.2rem;
  animation-duration: 0.3s;
}
.footer-icon :hover {
  color: #e6412e;
}

.header {
  display: flex;
  background-color: #ffffff;
  justify-content: space-around;
  align-content: center;
}
.header ul {
  display: flex;
  align-content: center;
  align-content: space-around;
}
@media (max-width: 968px) {
  .header ul {
    display: none;
  }
}
@media (max-width: 368px) {
  .header ul {
    display: none;
  }
}
.header ul .menu-link {
  display: flex;
  margin-right: 2.5rem;
}
.header ul .menu-link a {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 2rem;
  text-align: center;
  margin: auto;
  color: #59666f;
}
.header ul .menu-link a:hover {
  font-weight: bold;
  color: #e6412e;
  animation: hovering 0.3s linear;
}
.header a,
.header #cz,
.header #en {
  position: absolute;
  left: 2rem;
  color: #3f474d;
}
.header a:visited,
.header #cz:visited,
.header #en:visited {
  color: #3f474d;
}
.header a:link,
.header #cz:link,
.header #en:link {
  color: #3f474d;
}

#cz,
#en {
  font-weight: 700;
  z-index: 1;
  position: absolute;
  top: 6rem;
  right: 3rem;
  background-color: #3f474d;
  padding: 1.1rem 1.5rem 0.9rem 1.5rem;
  text-align: center;
  border-radius: 3rem;
}

.basic-ul .list-item {
  margin-top: 3rem;
}

ol {
  list-style: none;
  counter-reset: li;
  line-height: 1.3;
}
ol li::before {
  content: counter(li);
  color: #e6412e;
  display: inline-block;
  width: 1.2rem;
  font-weight: 600;
  margin-left: -1em;
}
ol li {
  counter-increment: li;
}

.footer {
  padding: 3rem 0 3rem 3rem;
  margin-top: 6rem;
  background-color: #14191d;
  min-height: 15vh;
  color: #59666f;
}
.footer .sideway {
  text-align: end;
  padding-right: 3rem;
}
.footer .end-content {
  display: flex;
  justify-content: end;
  align-items: flex-end;
  color: #79838b;
  margin: 8rem 3rem -2rem 0;
  font-size: 1rem;
}
.footer .end-content a {
  color: #79838b;
}
.footer .end-content a :hover {
  color: #59666f;
}

.center {
  text-align: center;
}
.center h2 {
  font-size: 3.8rem;
  color: #ffffff;
}
.center .contacts {
  color: #79838b;
  display: flex;
  justify-content: center;
  align-items: center;
}
.center .contacts .contact {
  flex-grow: 100;
  margin-top: 3rem;
  display: block;
}
.center .contacts .contact .address {
  flex-grow: 1;
  display: block;
  margin: auto;
  font-weight: bold;
}

.rwd-table {
  margin: 1em 0;
  min-width: 300px;
}
.rwd-table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.rwd-table th {
  display: none;
}
.rwd-table td {
  display: block;
}
.rwd-table td:first-child {
  padding-top: 0.1em;
}
.rwd-table td:last-child {
  padding-bottom: 0.5em;
}
.rwd-table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 4.5em;
  display: inline-block;
}
@media (min-width: 480px) {
  .rwd-table td:before {
    display: none;
  }
}
.rwd-table th, .rwd-table td {
  text-align: left;
}
@media (min-width: 480px) {
  .rwd-table th, .rwd-table td {
    display: table-cell;
    padding: 0.25em 0.5em;
  }
  .rwd-table th:first-child, .rwd-table td:first-child {
    padding-left: 0;
  }
  .rwd-table th:last-child, .rwd-table td:last-child {
    padding-right: 0;
  }
}

.rwd-table {
  background: #3A3E3B;
  color: #fff;
  border-radius: 0.4em;
  overflow: hidden;
}
.rwd-table h2 {
  padding: 2rem;
  padding-bottom: 0;
}
.rwd-table tr {
  border-color: #172b3f;
}
.rwd-table tr :not(:first-child) {
  text-align: center;
}
.rwd-table th, .rwd-table td {
  margin: 0.5em 1em;
}
@media (min-width: 480px) {
  .rwd-table th, .rwd-table td {
    padding: 1em !important;
  }
}
.rwd-table th, .rwd-table td:before {
  color: #e6412e;
}

/**
 * cssanimation.css
 * https://www.cssanimatio.io
 * Created and maintained by: Pavel
 * Find me at: https://www.linkedin.com/in/yesiamrocks/
 * Email: hello@cssanimation.io
 * Github: https://github.com/yesiamrocks/cssanimation.io
 * Title: A CSS Animation Library for Developers and Ninjas
 * Copyright (c) 2017 Pavel
 * License: cssanimation.io is licensed under the MIT license
 **/
.cssanimation,
.cssanimation span {
  animation-duration: 1.5s;
  animation-fill-mode: both;
  opacity: 0;
}

.cssanimation span {
  display: inline-block;
}

.fadeInBottom {
  animation-name: fadeInBottom;
}

@keyframes fadeInBottom {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
  }
}
@keyframes hovering {
  from {
    font-weight: normal;
    color: #59666f;
  }
  to {
    font-weight: bold;
    color: #3f474d;
  }
}
@keyframes fadein {
  from {
    background-color: #ffffff;
  }
  to {
    background-color: #3f474d;
  }
}
.page {
  padding: 0 3vw;
  min-height: 90vh;
  margin: 0 3rem;
}
.page-image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 40vw;
  margin: auto;
}
.page-image img {
  max-width: 50vw;
  display: flex;
  align-items: center;
}
.page .container-images {
  display: flex;
  margin-top: 2rem;
  justify-content: center;
  align-items: center;
}
.page .hidden {
  display: flex;
  margin-top: 2rem;
  justify-content: center;
  align-items: center;
}
@media (min-width: 712px) {
  .page .hidden {
    display: none;
  }
}
.page-images {
  display: flex;
  justify-content: center;
  align-items: stretch;
  max-width: 80vw;
}
.page-images :first-child {
  margin-right: 3rem;
}
.page-images img {
  max-width: 40vw;
}
.page .divider {
  width: 100vw;
}
.page .flex-center {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.page .content {
  padding: 3rem 0;
  padding: 3rem 0;
}
.page .content p {
  margin-left: 6rem;
}
.page .content h1 {
  text-align: center;
  color: #fff;
  margin-bottom: 3rem;
}
.page .content h1::after {
  content: " ";
  background-color: #e6412e;
  display: block;
  width: 10rem;
  margin: auto;
  border-bottom: 0.5rem #e6412e solid;
}
.page .content .text {
  line-height: 1.4;
  font-size: 1.6rem;
  font-weight: 500;
  color: #dbdbdb;
}
.page .content .text a {
  color: #ffffff;
  font-weight: bold;
}
.page .content .text a:hover {
  color: #e6412e;
}
.page .content .text .strong {
  display: contents;
  font-weight: bold;
  font-size: 1.7rem;
}
.page .content .text h2 {
  padding-top: 2rem;
  font-size: 3rem;
  color: #fff;
}
.page .content .text h2::after,
.page .content .text .left::after {
  content: " ";
  background-color: #e6412e;
  display: block;
  width: 10rem;
  border-bottom: 0.5rem #e6412e solid;
}
.page .content .text .conference-table {
  display: table;
  width: 100%;
  border: none;
  margin: 60px 0 40px 0;
  font-size: 0.9em;
  border-collapse: collapse;
  table-layout: fixed;
  text-align: center;
}
.page .content .text .conference-table .upper {
  background-color: #e6412e;
  border-left: 2px solid #59666f;
}
.page .content .text .conference-table th {
  font-size: large;
  height: 5rem;
}
.page .content .text .conference-table tr {
  border-bottom: 1px solid white;
}
.page .content .text .conference-table .first {
  border: none;
  height: 5.5rem;
}
.page .content .text .conference-table td {
  margin: 2rem;
  border-left: solid 1px;
}
@media (max-width: 712px) {
  .page .content .text .conference-table {
    display: none;
  }
}
.page .content .text .bullet {
  padding: 2rem 0 2rem 2rem;
}
.page .content .text .paragraph {
  padding-top: 3rem;
}
.page .content .text .centered {
  text-align: center;
  word-spacing: 10%;
  letter-spacing: 0.2rem;
}
@media (max-width: 1038px) {
  .page {
    margin: 0 1rem 8rem 0;
  }
}

.page .center {
  min-height: 100vh;
  padding: 0 10vh;
  background-color: #ffffff;
}

.link-away {
  margin-top: 3rem;
}

.only-on-mobile {
  display: none;
}
@media (max-width: 712px) {
  .only-on-mobile {
    display: block;
  }
}

.centered {
  padding-top: 2rem;
  text-align: center;
}
.centered .textos {
  padding: 0;
  margin: 0;
}

.box-link:hover {
  color: #dbdbdb;
}

.four-box {
  display: flex;
  justify-content: space-between;
  align-self: center;
  background-color: #ffffff;
  flex-wrap: wrap;
  padding: 3rem 0rem;
}
@media (max-width: 712px) {
  .four-box {
    padding: 3rem 0;
  }
}
.four-box-dojebany {
  margin: 0rem 10rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 712px) {
  .four-box-dojebany {
    margin: 0rem 3rem;
  }
}
@media (max-width: 446px) {
  .four-box-dojebany {
    margin: 0rem 1rem;
  }
}

.box-area {
  text-align: center;
}
.box-area .image {
  font-size: 15rem;
}
@media (max-width: 1038px) {
  .box-area .image {
    font-size: 5rem;
  }
}
.box-area .below-text {
  font-size: larger;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
@media (max-width: 1038px) {
  .box-area .below-text {
    color: #ffffff;
  }
}

.box {
  padding: 4rem 6rem;
  background-color: #59666f;
  border-radius: 2rem;
  margin-top: 2rem;
  display: flex;
  min-height: 10vh;
  justify-content: center;
  align-items: center;
  min-height: 38vh;
  min-width: 33vw;
}
.box h2 {
  width: max-content;
  justify-content: center;
  text-transform: uppercase;
}

.shadow {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.438);
}

.square {
  min-width: 20vw;
  min-height: 20vw;
  text-align: center;
}
@media (max-width: 712px) {
  .square {
    width: 20vw;
    height: 20vw;
  }
}
